a.buttons {
    background: url(../Images/image.gif) no-repeat top left;
    display: block;
    width: 150px;
    height: 150px;
    text-indent: -9999px; /* hides the link text */
}

tr.prodDetails>td {
    padding-bottom:30px;
    border:solid 2px red;
}