@{
    ViewBag.Title = "Home Page";
}

    <head>
        <style>
            .mySlides {
                display: none;
            }
        </style>
    </head>

<div class="jumbotron">
    <div align="center">
        <img class="w-25" src="~/Images/Travel_Experts_Sun_600x200.png" />
    </div>
</div>

<div align="center">
    <h4>Welcome</h4>
</div>

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="3000" data-wrap="true" align="center">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-75" src="~/Images/asia.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-75" src="~/Images/california.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-75" src="~/Images/caribbean.jpg" alt="Third slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-75" src="~/Images/East-Coast-Canada-Road-Trip.jpg" alt="Third slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-75" src="~/Images/Europe.jpg" alt="Third slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-75" src="~/Images/grandCanyon.jpg" alt="Third slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-75" src="~/Images/northernOntario.png" alt="Third slide">
        </div>
    </div>
</div>

